<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.routine.dpac.mapper.DpacTicketInfoMapper">

    <resultMap id="BaseResultMap" type="com.xh.routine.dpac.entity.DpacTicketInfoEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="consumerEmail" column="consumer_email" jdbcType="VARCHAR"/>
            <result property="assignedUserId" column="assigned_user_id" jdbcType="BIGINT"/>
            <result property="assignedUserGroupId" column="assigned_user_group_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="receiveTime" column="receive_time" jdbcType="TIMESTAMP"/>
            <result property="processTime" column="process_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,status,consumer_email,
        assigned_user_id,assigned_user_group_id,create_time,
        receive_time,process_time
    </sql>
</mapper>
